/* Home */
main {
    display: flex !important;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: #c4c4;
}

p, a {
    font-size: 12px ;
    margin: 0 !important;;
    padding: 0 !important;;
}

.mainContainer {
    width: 500px;
    height: fit-content;

    padding: 30px;
    background-color: #fff;
}

.mainContainer button {
    width: 100%;
}

.buttonContainer {
    margin-top: 40px;
    margin-bottom: 10px;
}