body {
    background-color: white;
}

* {
    list-style-type: none;
    text-decoration: none;
    border: 1px solid red;
}

img {
    border-radius: 50%;
}

p {
    margin: 0;
    padding: 0;
}

/* nav */
#nav {    
    list-style-type: none;

    margin: 0;
    padding: 0;
}

.navChild {
    padding: 10px;
}

.navChild:hover {
    background-color: rgba(15, 25, 20, 0.1);
    border-radius: 15px;

    color: rgb(15, 20, 25);
}

.navChild a{
    width: 100%;
    color: rgb(15, 20, 25);
    padding-left:  1px;
}

/* imageSection */
#imageSection {
    display: flex;
    flex-direction: row;

    align-items: flex-end;
}

/* profile */
.name {
    color: rgb(15, 20, 25);
}

.nickName {
    color: rgb(83, 100, 113);
}

#description {
    color: rgb(15, 20, 25);
}   

/* localization */
#localizationSection {
    display: flex;
    flex-direction: row;

    gap: 50px;
}

.localizationChild a {
    color: rgb(83, 100, 113);
}

/* statistic */
#statisticSection {
    display: flex;
    flex-direction: row;

    gap: 23px;
}

.statisticChild a{
    color: rgb(83, 100, 113);
    text-decoration: none;
}

.statisticChild a:hover{
    text-decoration: underline;
}

.statisticChild a strong{
    color: rgb(15, 20, 25);
    font-weight: bold;
}

/* tzeet */
.tzeet:hover {
    background-color: rgba(249, 24, 128, 0.5);
}

.tzeetHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.tzeetData {
    color: rgb(83, 100, 113);
}

.tzeetText {
    color: rgb(15, 20, 25);
}

/* actions */
#actions {
    width: 100%;

    display: flex;
    flex-direction: row;
    
    align-items: center;
    align-content: space-between;
    gap: 10px;
}

#actions li a{
    color: rgb(83, 100, 113);
    padding: 5px;

    border-radius: 10px;
}

#actions li a:hover{
    text-decoration: underline;
}

#replyShare a:hover {
    background: rgba(29, 155, 240, 0.1);
    color: rgba(29, 155, 240, 1);
}

#retzeet a:hover {
    background: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 1);
}

#like a:hover {
    background: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
}

